{% extends 'base.html' %}

{% block content %}
 <div style="background-color: #63C5DA">
    <div style="text-align: center;border-bottom: 2px solid black">
    <h2 style="color: #03AC13;text-underline: #03AC13">All you need to know about MedBora Hospital</h2>
    <p style="font-size: 20px;">MedBora started about five years ago because of the dire need of good medical personnel in the country.<br>
        The hospital is located in Westlands,Nairobi.It has 100 beds and is able to accommodate patients as required.</p>

    <h2 style="color: #03AC13;text-underline-color:#03AC13 ">Do we have the appropriate equipments?</h2>
    <p style="font-size: 20px">As a way to ensure you have access to good healthcare,we have the best medical equipments and machines.Whereas the surgeons,doctors and nurses skills cannot be put to question.</p>
     </div>


    <div style=";padding: 10px">
        <div style="float: left;margin-right: 300px">
            <h4 style="color:#FFFF00;font-size: 40px">Mission</h4>
            <p style="font-size:20px; ">To offer the best healthcare service and <br>
                ensure our patients enjoy what the hospital has to offer</p>
        </div>
        <div >
             <H4 style="color: #FFFF00;font-size: 40px">Vision</H4>
            <p style="font-size:20px; ">To improve the healthcare system in Kenya and <br>
                promote the <u>Sustainable development goals</u>.</p>
        </div>

    </div>
 </div>
{% endblock content %}